/* ----- GENERAL ----- */
$fontBold: 700;
$fontMedium: 600;
$fontNormal: 400;
$gutter: 1rem;
$headerHeight: 60px;
$transitionFast: 250ms;

/* ----- COLORS ----- */
$cardBackground: rgba(251, 251, 251, 1) !important;
$danger: rgba(248, 68, 68, 1);
$destinationIndicator: rgba(250, 117, 123, 1);
$primary: rgba(14, 59, 77, 1);
$primaryButtonHover: rgba(74, 106, 120, 1);
$primaryLink: var(--blue-500);
$secondaryHoverBg: rgba(233, 236, 239, 1);
$skeletonBackground: rgba(180, 208, 221, 1);
$sourceIndicator: rgba(252, 176, 87, 1);
$textPrimary: rgba(17, 17, 17, 1);
